/*
CSS for etch-a-sketch
*/
#container{    
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn{
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 15px;
}
#flex{
    display: flex;
    align-content:space-around;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}
