/*
CSS for etch-a-sketch
*/
#container{    
    padding: 30px;
}
#btn{
    margin-left: 50%;
    margin-bottom: 30px;
}
#flex{
    display: flex;
    flex-wrap: wrap;
}
.gridBox{
    flex: 1, 1, 0;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: 2px solid rgb(128, 128, 128);
}